{% extends 'catalog/base.html' %}

{% block title %}{{ post.title }} - Skystore{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'catalog:home' %}">Главная</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'blog:blog_list' %}">Блог</a></li>
                    <li class="breadcrumb-item active">{{ post.title }}</li>
                </ol>
            </nav>
            
            <h1 class="display-5 mb-4">{{ post.title }}</h1>
            
            <div class="text-muted mb-4">
                <span>Создано: {{ post.created_at|date:"d.m.Y" }}</span>
                <span class="ms-3">Просмотров: {{ post.views_count }}</span>
            </div>
            
            {% if post.preview %}
            <img src="{{ post.preview.url }}" class="img-fluid rounded mb-4" alt="{{ post.title }}">
            {% endif %}
            
            <div class="post-content">
                {{ post.content|linebreaks }}
            </div>
            
            <div class="mt-4">
                <a href="{% url 'blog:blog_list' %}" class="btn btn-secondary">Назад к списку</a>
                <a href="{% url 'blog:blog_update' post.pk %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'blog:blog_delete' post.pk %}" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
